body{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}
/*Header-section*/
.header-section,.about-section{
    display: flex;
    height: 500px;
    margin-bottom: 100px;
}
.section-part{
    width: 50%;
    padding: 40px;
}
.bigger-font{
    font-size: 45px;
}
.linked-button{
    display: inline-block;
    color: white;
    font-weight: 900;
    text-decoration: none;
    text-align: center;
    padding: 15px 30px;
    background-image: linear-gradient(to right,orange,red);
    border-radius: 20px;
}
.para-width{
    width: 60%;
}
.paragraph{
    margin: 40px 0px;
    line-height: 1.8;
}
.section-part img{
    height: 400px;
    width: 80%;
}
.color-orange{
    color: orange;
}
/*End Header-section*/

/*start about-section*/
.about-section{
    background-image: url(../images/shapes/7.png);
    background-repeat: no-repeat;
}
.about-img img{
    width: 80%;
    height: 100%;
}
.about-part{
    width: 50%;
    padding: 70px 70px 30px;
}
.about-part h1{
    font-size: 30px;
    font-weight: 900;
}
.about-part a{
    display: inline-block;
    margin-top: 60px;
}
/*End about-section*/

/*Start Recipe-section*/
.recipe-items{
    display: flex;
    padding: 30px;
    margin-bottom: 100px;
}
.recipe-section h1{
    text-align: center;
    font-size: 30px;
    font-weight: 900;
}
.centered-para{
    width: 40%;
    margin: 0 auto;
    line-height: 1.8;
    text-align: center;
}
.items{
    height: auto;
    width: 30%;
    padding: 20px;
    border: 1px solid;
    box-shadow: 5px 5px 8px #5c5858;
    margin-left: 30px;
    border-radius: 15px;
}
.items img{
    
    width: 100%;
    height: 30%;
}
/*End Ricepe-section*/