body{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    background-color: rgb(230, 221, 221);
}
h1{
    margin: 0;
}
/*Start Header-section*/
    .header-section{
        text-align: center;
        height: 100px;
        color: white;
        padding-top: 30px;
        background-color: rgb(14, 10, 10);
    }
    .header-section h1{
        margin: 0;
    }
/*End Header-section*/

/*Start Food-network-section*/
.food-network-section,.about-section{
    display: flex;
    height: 500px;
    margin-bottom: 100px;
}
.section-part{
    width: 50%;
    padding: 40px;
}
.bigger-font{
    font-size: 45px;
}
.linked-button{
    display: inline-block;
    color: white;
    font-weight: 900;
    text-decoration: none;
    text-align: center;
    padding: 15px 30px;
    background-image: linear-gradient(to right,orange,red);
    border-radius: 20px;
}
.para-width{
    width: 60%;
}
.paragraph{
    margin: 40px 0px;
    line-height: 1.8;
}
.section-part img{
    height: 400px;
    width: 80%;
}
.color-orange{
    color: orange;
}
/*End Food-network-section*/

/*start about-section*/
.about-section{
    background-image: url(../images/shapes/7.png);
    background-repeat: no-repeat;
}
.about-img img{
    width: 80%;
    height: 100%;
}
.about-part{
    width: 50%;
    padding: 70px 70px 30px;
}
.about-part h1{
    font-size: 30px;
}
.about-part a{
    display: inline-block;
    margin-top: 60px;
}
/*End about-section*/

/*Start Recipe-section*/
.recipe-items{
    display: flex;
    padding: 30px;
    margin-bottom: 70px;
}
.recipe-section h1{
    text-align: center;
    font-size: 30px;
    font-weight: 900;
}
.centered-para{
    width: 40%;
    margin: 0 auto;
    line-height: 1.8;
    text-align: center;
}
.items{
    height: auto;
    width: 30%;
    padding: 20px;
    box-shadow: 5px 5px 8px #5c5858;
    margin-left: 30px;
    border-radius: 15px;
}
.items h1{
    text-align: left;
}
.items img{
    
    width: 100%;
    height: 50%;
}
/*End Ricepe-section*/

/*Start feedback-section*/
.feedback-section{
    color: black;
    height: 180px;
    background-image: url(../images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 10px;
}
.color-blue{
    color: rgb(44, 0, 88);
}
#textbox{
        height:40px;
        border: none;
        border-radius: 5px;
    }
#submit{
    border: none;
    border-radius: 5px;
    font-weight: 900;
    color: white;
    background-image: linear-gradient(to right,rgb(31, 157, 230),rgb(10, 8, 131));

}
#submit:hover{
    background-image: linear-gradient(to right,orange,red);
}
/*End feedback-section*/

/*Start Footer Section*/
footer{
    height: 120px;
    color: white;
    text-align: center;
    padding: 20px;
    background-color: rgb(14, 10, 10);
}
.color-deep-orange{
    color: orangered;
}
.color-light{
    color: turquoise;
}
/*End Footer Section*/