body{
    font-family: 'Ubuntu', sans-serif;
}
.first-section{
    display: flex;
    height: 500px;
}
.section-part{
    width: 50%;
    padding: 40px;
}
.bigger-font{
    font-size: 45px;
}
.linked-button{
    display: block;
    width: 100px;
    color: white;
    font-size: 700;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    background: linear-gradient(orange,red);
    border-radius: 20px;
}
.section-part img{
    height: 400px;
    width: 80%;
}
.color-orange{
    color: orange;
}